<!DOCTYPE html>
<html>
  <head>
    <title>WouldReads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script type="text/javascript">
      window.backgroundURL = "<%= image_url('session_page_background.jpg') %>"
      window.logoURL = "<%= image_url('header_logo.png') %>"
      window.arrowURL = "<%= image_url('dropdown_arrow.png') %>"
      window.offStar = "<%= image_url('star-off.png') %>"
      window.onStar = "<%= image_url('star-on.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
