<!DOCTYPE html>
<html>
  <head>
    <title>WouldReads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript">
      window.backgroundURL = "<%= image_url('session_page_background.jpg') %>"
      window.logoURL = "<%= image_url('header_logo.png') %>"
      window.arrowURL = "<%= image_url('dropdown_arrow.png') %>"
      window.offStar = "<%= image_url('star-off.png') %>"
      window.onStar = "<%= image_url('star-on.png') %>"
      window.staticStarHalf = "<%= image_url('static-star-half.png') %>"
      window.staticStarFull = "<%= image_url('static-star-full.png') %>"
      window.greenCheck = "<%= image_url('green-check.png') %>"
      window.phCoverSmall = "<%= image_url('placeholder-small.png') %>"
      window.phCoverLarge = "<%= image_url('placeholder-large.jpg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
